body {
    padding-top: 70px;
    padding-bottom: 20px;
}

button.btn {
    margin-right: 5px;
}

.navbar-custom {
  background-color: #5f9f8a;
  border-color: #5f9f8a;
}

.navbar-custom .navbar-brand {
  color: white;
  fill: white;
  /*fill:"#a6ffcf";*/
  padding-left: 0px;
}

.navbar-custom .navbar-brand .icon-contain {
  display: inline;
  padding-right: 8px;
}

button.navbar-toggle.collapsed {
  float: left;
}

button.navbar-toggle.collapsed span {
  background-color: white;
  border-radius: 0px;
}

.navbar-nav a {
  color: white;
}

.navbar-header, .navbar-nav {
  cursor: default;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: rgba(255, 255, 255, 0.19);
}

.navbar-collapse.in {
  box-shadow: none;
}

ul.nav.navbar-nav a {
  line-height: 22px;
}

ul.nav.navbar-nav svg {
  fill: white;
}
